@font-face {
    font-family: 'HARRYP__';
    src: url('/'), url('/fonts/HARRYP__.TTF') format('truetype'), url('/fonts/HARRYP__.TTF') format('svg');
    font-weight: normal;
    font-style: normal;
}

#newfont{
    font-family: 'HARRYP__';
}
.titles{

    position: sticky;
    top: 0;
    line-height: auto;
}
h1{
    /* position: sticky; */
    top: 0;
    font-family: harryp__;
    font-size: 220px;
    text-align: center;
    color: white;
    margin: -30px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;

}

h2{
    /* position: sticky; */
    top: auto;
    font-family: harryp__;
    font-size: 80px;
    text-align: center;
    color:black;
    stroke-width: 2px;
    stroke: black;
    margin: auto;
 

}

body { 
 
    background: url(/img/234368.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
  }

  .Player1{
    flex-direction: column;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: ;
  }

  .player2{
    flex-direction: column;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 10px;


  }

#duel{
      font-size: 20pt;
      color: aquamarine;
      display: flex;
      justify-content: center;
      width: 750px;
      height: 70px;
      padding-top:10px;
      padding-bottom: 10px;
      border: 3px solid white;
      box-sizing: border-box;

  }

  .victor {
    font-size: 20pt;
    color: aquamarine;
    background-color: black;
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: auto;
    border: 3px solid darkmagenta;
    box-sizing: border-box;
  }

  .footer {
    font-size: 16pt;
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightcyan;
    color: black;
    text-align: center;
    border: 3pt;
    box-sizing: border-box;
    border-style: solid;
  }


  .restart{
    justify-content: center;
  }

  .gifbackground{
    background-image: url(/img/wavegif.gif) ;
  }

  #spellRadio1{
    background-color:rgba(0,0,0,0.3)
  }

  #spellRadio2{
    background-color:rgba(0,0,0,0.3)
  }

.gameboard{

}

#winnersTable{
  display: inline-flex;
  font-size: 15pt;
  background: white;
  text-align: left;
  height: 150px;
  overflow-y: scroll;
  border: 8px solid white;
  box-sizing: border-box;

}

#winnersButton{
  font-size: 12pt;
}

#resetButton{
  background-color: darkmagenta;
  color: black;
  font-size: 14pt;
}

.mystyle{
  display: inline-flex;
  font-size: 15pt;
  background: green;
  text-align: left;
  height: 150px;
  overflow-y: scroll;
  border: 8px solid red;
  box-sizing: border-box;
  
}