@font-face {
    font-family: 'HARRYP__';
    src: url('/'), url('/fonts/HARRYP__.TTF') format('truetype'), url('/fonts/HARRYP__.TTF') format('svg');
    font-weight: normal;
    font-style: normal;
}

#newfont{
    font-family: 'HARRYP__';
}
.titles{

    position: sticky;
    top: 0;
    line-height: auto;
}
h1{
    /* position: sticky; */
    top: 0;
    font-family: harryp__;
    font-size: 220px;
    text-align: center;
    color: white;
    stroke-width: 5px;
    stroke: black;
    margin: -30px;

}

h2{
    /* position: sticky; */
    top: auto;
    font-family: harryp__;
    font-size: 100px;
    text-align: center;
    color: white;
    stroke-width: 2px;
    stroke: black;
    margin: auto;

}

body { 
    background: url(/img/potterduel.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .Player1{
    color: orange;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 120px;

  }

  .player2{
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 120px;

  }

  .duel{
      font-size: 20pt;
      color: aquamarine;
      background-color: black;
      display: flex;
      justify-content: center;
      width: auto;
      height: 100px;
      padding: auto;
      border: 3px solid white;
      box-sizing: border-box;

  }

  .victor {
    font-size: 20pt;
    color: aquamarine;
    background-color: black;
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: auto;
    border: 3px solid white;
    box-sizing: border-box;
  }

  .footer {
    font-size: 16pt;
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightcyan;
    color: black;
    text-align: center;
    border: 3pt;
    box-sizing: border-box;
    border-style: solid;
  }


  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: #333;
  }
  
  #page-wrapper {
    width: 640px;
    background: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  }
  
  h3 {
    margin-top: 0;
  }
  
  #msg {
    font-size: 0.9em;
    line-height: 1.4em;
  }
  
  #msg.not-supported strong {
    color: #CC0000;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
  }
  
  input[type="range"] {
    width: 300px;
  }
  
  label {
    display: inline-block;
    float: left;
    width: 150px;
  }
  
  .option {
    margin: 1em 0;
  }
  
  speakbutton {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  
  button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
  }
  
  button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
  }
  